/.idea/
/.gradle/
/build/
/doc/site/generated/
/site/
/mkdocs.yml
*.blg
*.toc
*.out
*.pdf
*.aux
*.bbl
ivoatexmeta.tex
*.log
*.html
*.zip
*.fdb_latexmk
*.fls
gitmeta.tex
*.swp
role_diagram.svg

# OS-specific
.DS_Store
/tmp/
/bin/
/src-gen/CAOM-2.5.vo-dml.xml
/src-gen/IVOA-v1.0.vo-dml.xml
